.u-text-center{text-align: center;}
.u-text-right{text-align: right;}
.u-text-left{text-align: left;}

.u-mb-sm{margin-bottom:1rem;}
.u-mb-md{margin-bottom:4rem;}
.u-mb-lg{margin-bottom:8rem;}

.u-mt-sm{margin-top:1rem;}
.u-mt-md{margin-top:4rem;}
.u-mt-lg{margin-top:8rem;}

.u-red{background-color: red;}
.u-blue{background-color: blue;}
.u-green{background-color: green;}